<main class="w-100 m-auto text-center">
  <form [formGroup]="registerForm">
    <img src="/assets/img/Logo.png" alt="Logo" class="mb-1" width="150">
    <h2 class="mb-2 fw-normal">EtecBook</h2>
    <h5 class="mb-3 fw-normal">Criar sua conta!!</h5>

    <div class="form-floating mb-2">
      <input formControlName="name" type="text" class="form-control" id="name" placeholder="Nome completo"
        [class.is-invalid]="f['name'].dirty && f['name'].invalid">
      <label for="name">Nome completo</label>
      <small *ngIf="f['name'].dirty && f['name'].errors?.['required']" class="text-danger text-start d-block mt-1">Campo
        Obrigatório</small>
    </div>

    <div class="form-floating mb-2">
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email"
        [class.is-invalid]="f['email'].dirty && f[ 'email'].invalid">
      <label for="email">Email</label>
      <small *ngIf="f['email'].dirty && f['email'].errors?.['required']"
        class="text-danger text-start d-block mt-1">Favor informe seu email</small>
      <small *ngIf="f['email'].dirty && f['email'].errors?.['email']" class="text-danger text-start d-block mt-1">Por
        favor, informe o email válido</small>
    </div>
    <div class="form-floating mb-2">
      <input formControlName="password" type="text" class="form-control" id="password" placeholder="Senha de acesso"
        [class.is-invalid]="f['password'].dirty && f['password'].invalid">
      <label for="password">Senha</label>
      <small *ngIf="f['password'].dirty && f['password'].errors?.['required']"
        class="text-danger text-start d-block mt-1">Informe uma senha.</small>
    </div>

    <button (click)="onSubmit()" type="submit" class="w-100 btn btn-primary mb-2">Criar uma conta</button>

    <div class="separator">
      <div class="line"></div>
      <h6>Já possui uma conta?</h6>
      <div class="line"></div>
    </div>

    <a routerLink="/login" class="w-100 btn btn-success mt-2">Fazer login</a>
  </form>
</main>
